.total{background-color:white;
    text-align:left;
    width:330px;
    border-radius:3px;
    margin: 50%  auto;
    padding:14px;
    height:400px;
    
}

    input[type=text]{
    width:100%;
    border-color:gray;
    padding:9px;
    border-radius:12px;}

    

    input[type=password]{
    width:100%;
    padding:9px;
    border-color:gray;
    border-radius:12px;}

   input[type=submit]{
    width:100%;
    padding:9px;
    border-color:rgb(66, 101, 242);
    color:white;
    background-color:rgb(66, 101, 242);
    border-radius:12px;}

    input[type=submit]:hover{
    background-color:rgba(50, 9, 233, 0.913);}

    a{border:1px solid rgb(12,90,45,0.5);
    padding:10px;
    border-radius:5px;
    margin-left: 2px;
    text-decoration:none;
    background-color:white;
    color:black;
 }
 hr{width:100px;
float:left;
margin-left: 10px;}
 